@page
@model IndexModel
@{
    ViewData["Title"] = "Fortune of the Day";
}

<div style="background-color:lightgray;" class="jumbotron text-center bg-primary">
    <h1>Fortunes of the Day - Coming Soon</h1>
    <p>Featuring Bootstrap, JQuery, ASP.NET Razor, Github Tracking, AWS Elastic Beanstalk, and AWS RDS</p>
</div>

<div class="container">
    <div class="row bg-success">
        <div class="col-sm-4">
            <h3>Highly Likely:</h3>
            <p>Coming Soon...</p>
        </div>
        <div class="col-sm-4 bg-warning">
            <h3>Somewhat Likely:</h3>
            <p>Coming Soon...</p>
        </div>
        <div class="col-sm-4 bg-danger">
            <h3>Not Very Likely:</h3>
            <p>Coming Soon...</p>
        </div>
    </div>
</div>
